<div vvv-page vvv-content pageTitle='Registrierung'>
	<form onsubmit='processForm(event)'>
		<ion-list lines='inset' class='ion-padding-bottom'>
			<ion-item>
				<ion-label position='floating'>E-Mail Adresse</ion-label>
				<ion-input type='email' autofocus=true></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position='floating'>Passwort</ion-label>
				<ion-input type='password'></ion-input>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-list-header class='ion-padding-bottom'>Ich bin ein</ion-list-header>
			<ion-item>
				<ion-segment value='helper'>
					<ion-segment-button value='helper'>
						<ion-label>Helfer</ion-label>
					</ion-segment-button>
					<ion-segment-button value='hospital'>
						<ion-label>Krankenhaus</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-item>
		</ion-list>
		<ion-list lines='none' class='ion-padding-top ion-padding-bottom'>
			<ion-item>
				<ion-label position='fixed'>AGB</ion-label>
				<ion-checkbox slot="start"></ion-checkbox>
			</ion-item>
			<ion-item>
				<ion-label position='fixed'>Datenschutz</ion-label>
				<ion-checkbox slot="start"></ion-checkbox>
			</ion-item>
		</ion-list>
		<ion-button expand='block' type='submit'>Profil erstellen</ion-button
		>
	</form>
</div>