<ion-content>
	<div class='box2'>
		<ion-grid>
			<ion-row>
				<ion-col size="8">
					<ion-button routerLink="/registration" expand='block' color='vvv'>
						Registrieren</ion-button>
				</ion-col>
				<ion-col size="4">
					<ion-button routerLink="/login" expand='block' color='secondary'>Login</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div class='box1'>
		<ion-card>
			<img src='assets/img/banner.jpg' />
			<ion-card-header>
				<ion-card-subtitle>Über uns</ion-card-subtitle>
				<ion-card-title>V³</ion-card-title>
			</ion-card-header>
			<ion-card-content
				>Wir sind eine Plattform, wo sich Helfer:innen
				registrieren können, um ihre Hilfe verschiedener Art anzubieten.
				Andersrum ist es Krankenhäusern möglich, Anforderungen an Helfer:innen
				zu stellen.</ion-card-content
			>
		</ion-card>
		<ion-card>
			<img src='assets/img/helper.jpg' />
			<ion-card-header>
				<ion-card-subtitle>Über 200 Helfer</ion-card-subtitle>
				<ion-card-title>Aktuell</ion-card-title>
			</ion-card-header>
			<ion-card-content
				>Bereits über 200 Helfer haben sich registriert! Wir freuen uns über das
				positive Feedback und halten euch auf dem Laufenden.<br /><br /><small
					>Photo by Hush Naidoo on Unsplash</small
				></ion-card-content
			>
		</ion-card>
		<ion-card>
			<img src='assets/img/hospital.jpg' />
			<ion-card-header>
				<ion-card-subtitle>Über 200 Helfer</ion-card-subtitle>
				<ion-card-title>Aktuell</ion-card-title>
			</ion-card-header>
			<ion-card-content
				>Wir haben 200 Krankenhäuser die aktiv Helfer suchen. Wir würden uns
				sehr über eine Weiterempfehlung der App freuen, damit wir noch mehr
				Krankenhäuser unterstützen können.<br /><br /><small
					>Photo by Martha Dominguez de Gouveia on Unsplash</small
				></ion-card-content
			>
		</ion-card>
		<ion-card>
			<img src='assets/img/statistics.jpg' />
			<ion-card-header>
				<ion-card-subtitle>Presse</ion-card-subtitle>
				<ion-card-title>Fakten</ion-card-title>
			</ion-card-header>
			<ion-card-content
				>200+ registrierte Krankenhäuser<br />300+ registrierte Helfer<br />500+
				Vermittlungen<br /><br /><small
					>Photo by Chris Liverani on Unsplash</small
				></ion-card-content
			>
		</ion-card>	
	</div>
</ion-content>