<ion-card (click)='showDetail()'>
    <ion-card-header>
        <ion-card-subtitle>{{ dateFrom }} - {{ dateTo }}</ion-card-subtitle>
        <ion-card-title>{{ jobTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    {{ jobDescription }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <strong>Entfernung</strong>
                    <p>{{ distance }} km </p>
                </ion-col>
                <ion-col>
                    <strong>Voraussetzungen</strong>
                    <p>{{ medicalExperience }}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
