<div vvv-page vvv-content pageTitle="Helfer Registrierung">
    <form>
        <ion-slides #slider>
            <ion-slide>
                <div>
                    <input
                        autofocus="true"
                        class="profile-picture-selector"
                        ngfFormData
                        type="file"
                        accept="image/*"
                        (change)="profilePicture($event)"
                    />

                    <ion-item
                        class="ion-padding-top ion-padding-bottom"
                        (click)="openFileSelector()"
                        lines="none"
                    >
                        <ion-avatar slot="start">
                            <img
                                #profilePictureImg
                                class="profile-picture"
                                src="/assets/img/profile.jpg"
                            />
                        </ion-avatar>
                        <ion-label>
                            <ion-button color="secondary"
                                >Profilbild auswählen</ion-button
                            >
                        </ion-label>
                    </ion-item>

                    <ion-list lines="inset" class="ion-padding-bottom">
                        <ion-item>
                            <ion-label position="floating">Vorname</ion-label>
                            <ion-input type="text"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Nachname</ion-label>
                            <ion-input type="text"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating"
                                >Geburtsdatum</ion-label
                            >
                            <ion-datetime></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">PLZ</ion-label>
                            <ion-input type="number"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating"
                                >Telefonnummer</ion-label
                            >
                            <ion-input type="text"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Freitext</ion-label>
                            <ion-textarea></ion-textarea>
                        </ion-item>
                    </ion-list>
                    <ion-button
                        expand="block"
                        color="secondary"
                        (click)="nextSlide()"
                        >Weiter</ion-button
                    >
                </div>
            </ion-slide>
            <ion-slide>
                    <div>
                    <ion-list-header
                        ><ion-label
                            >Verfügbarkeit<br /><small>Täglich</small></ion-label
                        ></ion-list-header
                    >
                    <ion-list lines="inset" class="ion-padding-bottom">
                        <ion-item>
                            <ion-label position="floating">Von</ion-label>
                            <ion-datetime displayFormat="hh:mm"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Bis</ion-label>
                            <ion-datetime displayFormat="hh:mm"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating"
                                >Verfügbarer Radius
                                <small>(in Kilometer)</small></ion-label
                            >
                            <ion-input type="number"></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button expand="block" color="secondary" (click)="nextSlide()"
                        >Weiter</ion-button>
                </div>
            </ion-slide>
            <ion-slide>
                <div>
                    <ion-list-header><ion-label>Skills</ion-label></ion-list-header>
                    <ion-list lines="none">
                        <ion-item>
                            <ion-label position="fixed"
                                >Medizinischer Bereich</ion-label
                            >
                            <ion-checkbox slot="end"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                    <ion-button expand="block" color="primary" routerLink="/registration/confirmation"
                        >Speichern</ion-button
                    >
                </div>
            </ion-slide>
        </ion-slides>
    </form>
</div>
