<div class='box5'>
	<button routerLink="/registration" mat-raised-button color="primary">Registrieren</button>
	<button routerLink="/login" mat-raised-button >Login</button>
</div>
  
<div class='box4'>
	<mat-card>
		<img mat-card-image src="assets/img/banner.jpg" />
		<mat-card-header>
			<mat-card-subtitle>Über uns</mat-card-subtitle>
			<mat-card-title>Volunteer Vs Virus</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Wir sind eine Plattform, wo sich Helfer:innen registrieren können, um ihre Hilfe verschiedener Art anzubieten. Andersrum ist es Krankenhäusern möglich, Anforderungen an Helfer:innen zu stellen.
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<img mat-card-image src="assets/img/helper.jpg" />
		<mat-card-header>
			<mat-card-subtitle>Über 200 Helfer</mat-card-subtitle>
			<mat-card-title>Aktuell</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Bereits über 200 Helfer haben sich registriert! Wir freuen uns über das positive Feedback und halten euch auf dem Laufenden.<br /><br /><small>Photo by Hush Naidoo on Unsplash</small>
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<img mat-card-image src="assets/img/hospital.jpg" />
		<mat-card-header>
			<mat-card-subtitle>Über 200 Krankenhäuser</mat-card-subtitle>
			<mat-card-title>Aktuell</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Wir haben 200 Krankenhäuser die aktiv Helfer suchen. Wir würden uns sehr über eine Weiterempfehlung der App freuen, damit wir noch mehr Krankenhäuser unterstützen können.<br /><br /><small>Photo by Martha Dominguez de Gouveia on Unsplash</small>
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<img mat-card-image src="assets/img/statistics.jpg" />
		<mat-card-header>
			<mat-card-subtitle>Presse</mat-card-subtitle>
			<mat-card-title>Fakten</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				200+ registrierte Krankenhäuser<br />300+ registrierte Helfer<br />500+ Vermittlungen<br /><br /><small>Photo by Chris Liverani on Unsplash</small>
			</p>
		</mat-card-content>
	</mat-card>
</div>